body{
    background: url(https://i.pinimg.com/originals/50/a2/63/50a2638c146493cced5583eb54ddcd13.png);
    height:100vh;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.weather-box{
    border:3px solid white;
    padding: 70px;
    border-radius: 30px;
    background-color: azure;
    margin: 1em;
}
